{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<div class="topnav">
    <a id="napchat">Napchat</a>
    <a class="active" href="/">Nap Track</a>
    <a href="/newnap">New Nap</a>
    <a href="/logout">Log Out</a>
    <a href="#contacContactt"></a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <br/>
  <div class="body">
    <h1 class="display-4 text-center">Nap Track Calendar</h1>
    <p class="lead">&nbsp;&nbsp; Yellow = Sleep goal met</p>
    <p class="lead">&nbsp;&nbsp; White = Sleep goal unmet</p>
    <hr class="my-4">

    <div class="jumbotron calendar">

      <ul class="weekdays">
        {% for i in range(7) %}
          <li>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">{{ weekdays[i] }}</h5>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      
      <ul class="days">
        {% for i in range(1, myDays|length + 1) %}
          <li>
            <div class="card text-center h-100">
              <div class="card-body">
                <h5 class="card-title">{{ myDays[i-1] }}</h5>
              </div>
            </div>
          </li>
          {% if i % 7 == 0 %}
            <br>
          {% endif %}
        {% endfor %}
      </ul>

    </div>
  </div>
  
{% endblock %}
    
