{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="jumbotron center">
    <h1 class="display-4" id="napchat">Napchat</h1>
    <hr class="my-4">

    
    <form action="/login" method="post">
      <div class="form-group">
        <label for="username">Account email</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter account email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>
    </form>
  </div>
  <br/>
  <div class="jumbotron center">
    <h6 class="text-center">Don't have an account?</h6>
    <div class="text-center">
      <a href='/register' class="btn btn-primary">Sign up</a>
    </div>
  </div>
{% endblock %}
