{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
  <div class="alert alert-danger" role="alert">
    {{ warning }}
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="jumbotron center">
    <h1 class="display-4" id="napchat">Napchat</h1>
    <hr class="my-4">
    <form action="/register" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="repassword">Re-enter Password</label>
        <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Re-enter Password">
      </div>
      
      <br/>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
  <br/>
  <div class="jumbotron center">
    <h6 class="text-center">Back to login page</h6>
    <div class="text-center">
      <a href='/login' class="btn btn-primary">Login page</a>
    </div>
  </div>
{% endblock %}
